.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8%;
  text-align: center;
}

.hero h1 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 500;
  line-height: 1.4;
  max-width: 900px;
}

.accent {
  color: #f8fafc;
  font-weight: 600;
}

.highligght {
  color: #3b82f6;
}