.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  z-index: 1000;
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
}

/* Desk nav */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: #e2e8f0;
  transition: 0.2s ease;
}

.nav-links a:hover {
  color: #3b82f6;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: white;
}

/* Mob menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 260px;
  background: #020617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 2rem;
  transition: 0.4s ease;
}

.mobile-menu.show {
  right: 0;
}

.mobile-menu a {
  color: #e2e8f0;
  font-size: 1.2rem;
}


@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }

  .menu-icon {
    display: block; 
  }
}